body {
	background-color: #333;
}

.empty, .block {
	width: 5px;
	height: 5px;
	display: inline-block;
	margin: 5px;
	border-radius: 35%;
}

.empty {
	border: 5px #333 solid;
	
}

.block {
	border: 5px #ccc solid;
	
}